<!DOCTYPE html>
<html lang="en">
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;
            border: 2px solid powderblue;
            font-size: large;
            font-style: oblique;
            }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
    </style>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Survival Prediction</title>
    <h1><center>Welcome to the titanic survival prediciton home page</center></h1>
</head>
<body>
    <img src="https://images.pexels.com/photos/3675390/pexels-photo-3675390.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="wreckage of the sunk titanic ship">
    <h1><center>Created by Dr. TEJAS. J</center></h1>
</body>
</html>